/*
esmeralda: 2ecc71
esmeralda oscuro: 27ae60
*/
/* ---------- Animation pane ----------*/
#animationPane {
    -fx-background-color: #2c3e50;
}

/* ---------- Buttons ----------*/
.jfx-button {
     -fx-border-radius: 5px;
     -fx-background-radius: 5px;
     -fx-text-fill: #fff;
}

#startBtn {
    -fx-background-color: #2ecc71;
    -fx-border-color: #27ae60;
}

#stopBtn {
    -fx-background-color: #e74c3c;
    -fx-border-color: #c0392b;
}

#cleanBtn {
    -fx-background-color: #3498db;
    -fx-border-color: #2980b9;
}

#aboutBtn, #exitBtn {
    -fx-background-color: #34495e;
    -fx-border-color: #2c3e50;
}

/* ---------- Combo box ---------- */
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #2ecc71;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #27ae60;
}

/* ---------- Color pickers ---------- */
.colorPicker {
    -fx-background-color: #fff;
    -fx-border-color: #555;
    -fx-border-radius: 5px;
}

/* ---------- Slide bar ---------- */

.jfx-slider > .thumb {
     -fx-background-color: #27ae60;
}

.jfx-slider > .colored-track {
     -fx-background-color: #2ecc71;
}

.jfx-slider > .animated-thumb {
     -fx-background-color: #27ae60;
}